@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=M+PLUS+1p&family=Noto+Sans+JP:wght@100..900&display=swap');

.supportInput::-webkit-outer-spin-button,
.supportInput::-webkit-inner-spin-button {
  display:none;
  margin:0;
}

.supportInput:focus {
  outline: none;
}

.supportInput::placeholder {
  color:rgba(0, 0, 0, 0.2);
}

.weekWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.scheduleWrapper {
  overflow-y: auto;
  height:100vh;
  scrollbar-width: none;
}

.App {
}

body {
  background-color: #AAC1D9;
  overflow-y: hidden;
}

.right-contents {
  height: 100vh;
  overflow-y: scroll;
}